.section2-img {
  position: relative;
  overflow: hidden;
  background-image: url(/src//img/Gibson\ section.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  filter: drop-shadow(0 -0px 20px rgba(48, 47, 47, 0.462));
  border: 2px solid rgb(240, 91, 22);
  z-index: 100;
}
.section-2-bkg-image {
  background-image: url(/src//img/gibson-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 20vh;
  filter: drop-shadow(3px 2px 1px #fff);
  z-index: 100;
}
