.section1-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.21) inset;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  background: #fff;
  height: 53vh;
}

.section1-container:hover .img-spacing {
  margin: -120px 0 0 0;
  transition: 1s ease-in-out;
}

@media (max-width: 791px) {
  .section1-container {
    height: 40vh;
  }

  .section1-container:hover .img-spacing {
    margin: 0px 0 0 0;
  }
}
