.four-container {
  background-image: url(../img/404.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.four04-h1 {
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 200px;
  top: -300px;
  color: rgb(240, 91, 22);
  text-shadow: 0 10px 85px rgb(255, 255, 255);
}

.four-p {
  position: relative;
  top: -50px;
  font-weight: 600;
  text-shadow: 0 0 1px #fff;
  width: 550px;
  font-size: 15px;
  color: rgb(240, 91, 22);
  font-family: "Lexend", sans-serif;
}

.four-h3 {
  position: relative;
  top: -20px;
  font-weight: 600;
  text-shadow: 0 0 1px #fff;
  width: 550px;
  font-size: 15px;
  color: rgb(240, 91, 22);
  font-family: "Lexend", sans-serif;
}

.four-btn {
  position: relative;
  color: rgb(255, 255, 255);
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  background: rgb(240, 91, 22);
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  font-family: "Lexend", sans-serif;
  z-index: 52;
}

.four-btn:hover {
  color: rgb(240, 91, 22);
  background: rgb(255, 255, 255);
  border: 2px solid rgb(240, 91, 22);
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 700px) {
  .four04-h1 {
    font-size: 120px;
    top: -150px;
  }

  .four-p {
    width: 200px;
  }

  .four-h3 {
    width: 200px;
  }
}
@media (max-height: 500px) {
  .four04-h1 {
    font-size: 120px;
    top: -50px;
  }
}
